@keyframes pop {
  5% {
    scale: 1.075;
  }
  100% {
    scale: 1;
  }
}

/* Pixel class and animation*/
.pixel-anim {
  animation: pixel-anim 200ms ease-in both;
}
@keyframes pixel-anim {
  5% {
    scale: 1.04;
    filter: brightness(115%);
  }
}

/* Menu animations */
@keyframes menu-show-vertical {
  0% {
    scale: 0;
    opacity: 0.5;
  }
  50% {
    scale: 0.75 0.4;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes menu-hide-vertical {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.8 0.5;
    opacity: 0;
  }
}

@keyframes menu-show-horizontal {
  0% {
    scale: 0;
    opacity: 0.5;
  }
  50% {
    scale: 0.4 0.75;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes menu-hide-horizontal {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.5 0.8;
    opacity: 0;
  }
}

@keyframes pulse-brightness {
  to {
    filter: brightness(133%);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.7 0.75;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes step-spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
