@import "tailwindcss";

:root {
  --canvas-size: 660px;
  --sidebar-margin: 36px;
}

@theme {
  --animate-pop: pop 400ms ease both;

  --color-theme-10: #a081ff;
  --color-theme-20: #573da5;
  --color-theme-50: #1a1337;
}

* {
  cursor: none;
}

.button {
  @apply hover:brightness-[120%] transition-all active:scale-95 active:brightness-95 disabled:opacity-75 disabled:scale-100 disabled:brightness-75 disabled:pointer-events-none select-none;
}

.zone-wrapper-selected {
  @apply outline-3 brightness-125;
}

.pixel-anim {
  animation: pixel-anim 200ms ease-in both;
}

@keyframes pixel-anim {
  5% {
    scale: 1.04;
    filter: brightness(110%);
  }
}

@keyframes pop {
  5% {
    scale: 1.075;
  }
  100% {
    scale: 1;
  }
}
