@import "tailwindcss";

* {
  cursor: none;
}

:root {
  --canvas-size: 660px;
  --sidebar-margin: 36px;
  --navbar-height: 90px;

  --slide-anim-timing: 800ms cubic-bezier(0.34, 1.56, 0.64, 1) both;
  --slide-anim-blur: blur(6px);
  --slide-anim-move: 40px;
}

@theme {
  --color-theme-10: #a081ff;
  --color-theme-20: #573da5;
  --color-theme-50: #1a1337;

  --animate-pop: pop 400ms ease both;

  --animate-slide-in-left: slide-in-left var(--slide-anim-timing);
  --animate-slide-in-right: slide-in-right var(--slide-anim-timing);
}

.button {
  @apply hover:brightness-[120%] transition-all active:scale-95 active:brightness-95 disabled:opacity-75 disabled:scale-100 disabled:brightness-75 disabled:pointer-events-none select-none;
}

.brightness-selected {
  @apply brightness-125 hover:brightness-125;
}

.cursor-shadow {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

@keyframes pop {
  5% {
    scale: 1.075;
  }
  100% {
    scale: 1;
  }
}

.pixel-anim {
  animation: pixel-anim 200ms ease-in both;
}
@keyframes pixel-anim {
  5% {
    scale: 1.04;
    filter: brightness(115%);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    filter: var(--slide-anim-blur);
    translate: calc(var(--slide-anim-move) * -1);
  }
  to {
    opacity: 1;
    translate: 0;
    filter: blur(0);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    filter: var(--slide-anim-blur);
    translate: var(--slide-anim-move);
  }
  to {
    opacity: 1;
    translate: 0;
    filter: blur(0);
  }
}
