@import "tailwindcss";

* {
  cursor: none;
  user-select: none;
}

:root {
  /* Global vars */
  --canvas-size: calc(var(--w-screen-minus-pad) - (var(--canvas-outline-w) * 2));
  --canvas-outline-w: 12px;

  --sidebar-margin: 16px;
  --navbar-height: 64px;

  --paint-page-pad-x: 8px;
  --w-screen-minus-pad: calc(100vw - (var(--paint-page-pad-x) * 2));

  --galery-pad-x: 16px; /* 110px */
  --creations-canvas-pad: 8px;

  /* Easing vars */
  --easing-back-out: cubic-bezier(0.34, 1.56, 0.64, 1);

  /* Slide anim vars */
  --slide-anim-timing: 1s var(--easing-back-out);
  --slide-anim-blur: blur(12px);
  --slide-anim-move: 48px;
}

/* sm */
@media (min-width: 640px) {
  :root {
    --canvas-size: 450px;
    --sidebar-margin: 24px;
    --paint-page-pad-x: 20px;
    --galery-pad-x: 32px;
    --canvas-outline-w: 22px;
  }
}

/* md */
@media (min-width: 768px) {
  :root {
    --canvas-size: 450px;
    --galery-pad-x: 64px;
    --creations-canvas-pad: 14px;
  }
}

/* lg */
@media (min-width: 1024px) {
  :root {
    --canvas-size: 550px;
    --sidebar-margin: 36px;
    --navbar-height: 86px;
    --galery-pad-x: 72px;
  }
}

/* xl */
@media (min-width: 1280px) {
  :root {
    --galery-pad-x: 120px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  /**/
}

/* xl (canvas-only) */
@media (min-width: 1280px) and (min-height: 800px) {
  :root {
    --canvas-size: 620px;
  }
}

/* 2xl (canvas-only) */
@media (min-width: 1536px) and (min-height: 900px) {
  :root {
    --canvas-size: 680px;
  }
}

@theme {
  /* Colors */
  --color-theme-10: #a081ff;
  --color-theme-20: #4c3397;
  --color-theme-bg: #1a1337;

  /* Shadows */
  --shadow-card: 0 10px 15px -3px rgba(0, 0, 0, 0.33);

  /* Animations */
  --animate-pop: pop 400ms ease both;
  --animate-pulse-brightness: pulse-brightness 1s ease-in-out both alternate infinite;
  --animate-appear: appear 750ms var(--easing-back-out) backwards;
  --animate-step-spin: step-spin 850ms steps(4) infinite;

  /* Fade in animations */
  --animate-fade-in-slow: fade-in 1200ms ease;
  --animate-fade-in: fade-in 500ms ease;
  --animate-fade-in-quick: fade-in 200ms ease;

  /* Slide animations */
  --animate-slide-in-left: slide-in-left var(--slide-anim-timing) both;
  --animate-slide-in-right: slide-in-right var(--slide-anim-timing) both;
  --animate-slide-in-top: slide-in-top var(--slide-anim-timing) both;
  --animate-slide-in-bottom: slide-in-bottom var(--slide-anim-timing) both;

  --animate-slide-out-left: slide-out-left var(--slide-anim-timing) both;
  --animate-slide-out-right: slide-out-right var(--slide-anim-timing) both;
  --animate-slide-out-top: slide-out-top var(--slide-anim-timing) both;
  --animate-slide-out-bottom: slide-out-bottom var(--slide-anim-timing) both;
}

.button {
  @apply hover:brightness-[120%] transition-all active:scale-95 active:brightness-95 disabled:scale-100 disabled:brightness-50 disabled:pointer-events-none select-none;
}

.brightness-selected {
  @apply brightness-130 hover:brightness-130;
}

.cursor-shadow {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}
